/* Company styles */
.company-title {
    padding-left: 0px;
    padding-bottom: 10px;
}
.company-title H1 {
    margin-top: 0px;
    padding-top: 0px;
}
.company-rating {
    color: #257824;
    border-radius: 68px;
    border: 4px solid #41db3f;
    width: 48px;
    height: 48px;
    font-size: 1.3em;
    line-height: 42px;
    background-clip: padding-box;
    text-align: center;
    display: inline-block;
}
.company-vote-text {
    float: left;
    line-height: 2.2em;
    margin-right: 10px;
}
.company-description-small {
    margin-top: 30px;
    margin-bottom: 20px;
}
.company-map-preview {
    margin-bottom: 10px;
}
.company-tabs {
    background: #FFF;
    margin: 0 auto;
}
.company-tabs UL {
    text-align: center;
}
.company-photos-preview {
    padding: 0px;
    background: #FFF;
    padding-bottom: 25px;
}
.company-landing {
    background: #FFF;
    padding-bottom: 40px;
}
.company-admin-editing {
    background: #82c47d;
    padding: 10px 20px;
    color: #FFF;
}



.icon-chatoff {
    color: #b40202;
    margin-right: 5px;
}
.color-chatoff {
    color: #b40202;
}

.company_buttons DIV.btn-group BUTTON {
    /*margin-bottom: 10px;*/
}
.breadcrumb {
    margin: 0px;
    border-radius: 0;
    padding: 7px 10px 7px 30px;
    margin-bottom: 0px;
    font-size: 0.9em;
}
.breadcrumb A {
    color: #777;
    text-decoration: underline;
}
.no-padding {
    padding: 0px;
}
.navbar-default {
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
}
.hr-light {
    max-width: 50px;
    border-width: 3px;
    border-color: #b40202;
    margin-bottom: 30px;
}

.navbar-collapse {
    padding-left: 3px;
}
.fotorama__stage  {
    display: none;
}

/* Landing block */
.company-block-landing {
    margin-bottom: 60px;
}

/* Media block */
.media-block {
    border-radius: 4px;
    margin-bottom: 0px;
    color: #333;
    font-family: 'PT Serif Caption';
    padding-bottom: 20px;
    background-color: #FFF;
}
.media-block P.post-title {
    font-size: 1.3em;
}
.media-block .title {
    margin-bottom: 20px;
}
.media-block .title SPAN {
    color: #f66032;
}
.media-block.dark {
    color: #FFF;
    background: -webkit-linear-gradient(#333, #5b5b5b);
    background: -o-linear-gradient(#333, #5b5b5b);
    background: -moz-linear-gradient(#333, #5b5b5b);
    background: linear-gradient(#333, #5b5b5b);
    background-color: #333;
}
.media-block.dark DIV.post-data P, .afisha-block DIV.post-data H2 {
    color: #FFF
}
.media-block.dark DIV.post-data P.rubrics {
    color: #adadad;
}
.media-block.dark DIV.post-data P.post-preamble {
    color: #adadad;
}
.media-block.dark DIV.post-data P.post-title {
    color: #FFF;
}
.media-block.dark .afisha-genres A {
    margin-right: 15px;
    color: #888;
}

.media-block.light {
    color: #222;
    background-color: #FFF;
}
.media-block.light DIV.post-data P, .afisha-block DIV.post-data H2 {
    color: #222
}
.media-block.light DIV.post-data P.rubrics {
    color: #444;
}
.media-block.light DIV.post-data P.post-preamble {
    color: #333;
}
.media-block.light .afisha-genres A {
    margin-right: 15px;
    color: #888;
}


.comment-block {
    margin-bottom: 20px;
}

/* Menu */
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

/* Company menu */
.company-menu {
    border-bottom: 0px;
}
.company-menu > li, .company-menu .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
    font-size: 1.1em;
}
.company-menu A {
    color: #333;
}
.company-menu > li > a  {
    background: #f0f0f0;
}
.company-menu > li > a:hover  {
    background: #dbdbdb;
}
.company-menu > li.active > a {
    background: #FFF;
    color: #333;
    border: 1px solid #dbdbdb;

}

/* Footer */
.footer-links {

}
.footer-links A {

}

/* Comments */
.company-comments .name {
    color: #959b9e;
    font-size: 0.9em;
}
.company-comments .comment {
    color: #4e595d;
    margin-bottom: 1px;
}

/* Options */
.company-options {
    margin-bottom: 20px;
}
.company-options TR TH:first-child {
    border-top: 0px;
}
.company-options TD.title {
    width: 35%;
    font-weight: bold;
}